// ---------------------------
// Variables
// ---------------------------
$font-family-main: "Clash", sans-serif; 
$color-gray: rgb(243, 243, 243);        
$color-primary: #2c2753;               

// ---------------------------
// Container
// ---------------------------
.container {
  width: 100%;
  max-width: 1200px;  
  margin: 0 auto;     
}

// ---------------------------
// Flex utilities
// ---------------------------
.flex {
  display: flex;      
}

.flex-column {
  flex-direction: column; 
}

.justify-between {
  justify-content: space-between; 
}

.justify-center {
  justify-content: center;       
}

.align-center {
  align-items: center;           
}

// ---------------------------
// Text utilities
// ---------------------------
.text-center {
  text-align: center;  
}

.color-primary {
  color: $color-primary; 
}

// ---------------------------
// Padding utilities
// ---------------------------
.padding {
  &-0 { padding: 0; }          
  &-1 { padding: 5px ; }      
  &-2 { padding: 10px ; }      
  &-3 { padding: 20px ; }      
  &-4 { padding: 50px; }     
  &-vertical {                             
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &-horizontal {                         
    padding-left: 20px;
    padding-right: 20px;
  }
  &-top { padding-top: 20px; }            
  &-bottom { padding-bottom: 20px; }     
  &-left { padding-left: 20px; }        
  &-right { padding-right: 20px; }       
}

