@use 'variables' as *; 

@mixin bp-lg-down {
  @media (max-width: $bp-lg) { @content; }
}

@mixin bp-md-down {
  @media (max-width: $bp-md) { @content; }
}

@mixin bp-sm-down {
  @media (max-width: $bp-sm) { @content; }
}