* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}