@use 'reset';
@use 'variables/global';

@font-face {
  font-family: 'Clash';
  src: url('../assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Variable.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: global.$font-family-main;
}

.header {
    padding: 20px;
  
}

.cart {
  margin-right: 10px;
}

nav {
  border-top: 1px solid global.$color-gray;
    margin-top: 10px;
    padding-top: 10px;

    a {
        font-size: 12px;
        font-weight: 300;
        color: global.$color-primary;
    }

    li:not(:last-child) a {
    padding-left: 20px;
  }
}


.hero {
  padding-bottom: 100px;

  &-content {
  align-items: center;
  background-color:  global.$color-primary;
  padding: 60px;

  h1 {
    color: white;
    font-weight: 300;
    padding-bottom:40px;
    max-width: 450px;
  }

  button {
    color: white;
    font-weight: 300;
    background-color: #4a4666;
    padding:20px 30px;
  }

  p {
    color: white;
    font-size: 20px;
    max-width: 600px;
    font-weight: 300;
    padding-top:225px;
  }
}
}


.benefits {
  h2 {
    font-weight: 400;
    padding-bottom: 40px;
  }

  h3 {
    font-weight: 400;
    padding: 10px 0;
  }

}

.products {
  padding-top:100px;

  h2 {
    font-weight: 400;
    padding-bottom: 20px;
  }

  button {
    color: global.$color-primary;
    background-color: rgb(243, 243, 243);
    font-weight: 400;
    padding:20px 30px;
  }

  &-content {
   gap:15px;
   color: global.$color-primary;
   padding-bottom: 30px;

    h3 {
       font-weight: 400;
       padding: 10px 0;
    }
  }

}

.form {
  margin-top: 100px;
  background-color: rgb(243, 243, 243);
  width: 100%;             
  padding: 50px 0;       

  div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px; 

    h2 {
    font-weight: 400;
    margin-bottom: 10px;
    }

    p {
      text-align: center;
      padding-bottom: 50px;
    }
    
    form {
      display: flex;
      input {
        background-color: global.$color-gray;
        border:none;
        padding: 15px 80px 15px 30px;
        text-align: left;
      }

      button {
        color: white;
        background-color: global.$color-primary;
        font-weight: 400;
        padding: 0 40px;
        text-wrap: nowrap ;
      }
    }
  }
}


.outlets {
  gap:100px;

  &-content {
    margin-top:70px;

    h2 {
      font-weight: 400;
    }

    p {
      font-weight: 400;
      margin-top: 30px;
    }

    button {
        color: global.$color-primary;
        background-color: rgb(243, 243, 243);
        font-weight: 400;
        padding:20px 30px;
        margin-top:150px;
      }
  }
}


.footer {
  background-color: global.$color-primary;
  padding: 50px 50px 20px 50px;



  h4 {
    color:white;
    font-weight: 300;
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: white;
    font-weight: 200;
    text-decoration: none;
  
  }

form {
      display: flex;
      input {
        background-color: rgba(255, 255, 255, 0.205);
        border:none;
        padding: 15px 250px 15px 30px;
        text-align: left;

        &::placeholder {
          
         padding-left: 5px;
        }
      }

      button {
        color: global.$color-primary;
        background-color: white;
        font-weight: 400;
        padding: 0 20px;
        text-wrap: nowrap ;
      }
    }

      p {
        color:white;
        font-weight: 200;
      }
}

.copyright {
  margin-top: 30px;
  padding-top:20px;
  border-top: 1px solid rgb(27, 114, 245);
}