@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.padding-sm {
  padding: 0.5rem;
}

.padding-md {
  padding: 1rem;
}

.padding-lg {
  padding: 2rem;
}

.padding-xl {
  padding: 4rem;
}

.padding-2xl {
  padding: 5rem;
}

.padding-top-sm {
  padding-top: 0.5rem;
}

.padding-top-md {
  padding-top: 1rem;
}

.padding-top-lg {
  padding-top: 2rem;
}

.padding-top-xl {
  padding-top: 3rem;
}

.padding-top-2xl {
  padding-top: 4rem;
}

.padding-top-3xl {
  padding-top: 5rem;
}

.padding-y-lg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-x-2xl {
  padding-left: 5rem;
  padding-right: 5rem;
}

.text-center {
  text-align: center;
}

.border-top {
  border-top: 1px solid rgb(243, 243, 243);
}

.bg-primary {
  background-color: #2c2753;
}

.bg-light {
  background-color: rgb(243, 243, 243);
}

.bg-white {
  background-color: #fff;
}

.text-primary {
  color: #2c2753;
}

.text-white {
  color: #fff;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-bold {
  font-weight: bold;
}

.heading-lg {
  font-family: "Clash", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
}

.heading-md {
  font-family: "Clash", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.heading-sm {
  font-family: "Clash", sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.heading-xs {
  font-family: "Clash", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.text-md {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.text-sm {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #2c2753;
}

.text-xs {
  font-size: 0.875rem;
}

.text-price {
  font-size: 1rem;
  color: #2c2753;
}

.max-w-sm {
  max-width: 20rem; /* ~320px */
}

.max-w-md {
  max-width: 28rem; /* ~448px — идеально для читаемого текста */
}

.max-w-lg {
  max-width: 36rem; /* ~576px */
}

.max-w-xl {
  max-width: 42rem; /* ~672px */
}

@font-face {
  font-family: "Clash";
  src: url("../assets/fonts/ClashDisplay-Variable.ttf") format("truetype-variations");
  font-weight: 200 700;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Variable.ttf") format("truetype-variations");
  font-weight: 300 900;
  font-style: normal;
}
.logo.brand {
  font-family: "Clash", sans-serif;
  font-size: 1.5rem;
  color: #2c2753;
}

.link-nav {
  font-size: 0.75rem;
  color: #2c2753;
  text-decoration: none;
  padding: 0 0.5rem;
}

.link-footer {
  font-size: 0.875rem;
  color: #fff;
  text-decoration: none;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  text-wrap: nowrap;
}

.btn-primary {
  color: #fff;
  background-color: #2c2753;
}

.btn-secondary {
  color: #fff;
  background-color: #4a4666;
}

.btn-tertiary {
  color: #2c2753;
  background-color: rgb(243, 243, 243);
}

.btn-white {
  color: #2c2753;
  background-color: #fff;
}

.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0.5rem 0 0;
}

.input-email {
  background-color: rgb(243, 243, 243);
  border: none;
  padding: 1rem 5rem 1rem 2rem;
  font-size: 1rem;
  color: #000;
}

.input-email-dark {
  background-color: rgba(255, 255, 255, 0.205);
  color: #fff;
}

.benefit-card {
  flex: 1;
  text-align: left;
}

.product-card {
  flex: 1;
  color: #2c2753;
  transition: transform 0.2s;
}
.product-card:hover {
  transform: translateY(-2px);
}

.hero-content {
  flex: 3;
  max-width: 70%;
}
.hero-content h1 {
  max-width: 450px;
  margin-bottom: 2rem;
}
.hero-content p {
  max-width: 600px;
  margin-top: 10rem;
}

.img-hero {
  flex: 2.3;
  width: 30%;
  height: auto;
  object-fit: cover;
}

.outlets-content {
  flex: 1;
}
.outlets-content button {
  margin-top: 6rem;
}

.img-outlets {
  flex: 1;
  width: 50%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Clash", sans-serif;
}

.header {
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.nav {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.cart {
  margin-right: 1rem;
}

.hero {
  padding-bottom: 3rem;
}

.benefits {
  margin-top: 2rem;
}
.benefits h2 {
  margin-bottom: 2rem;
}
.benefits h3 {
  margin: 0.5rem 0;
}

.products {
  margin-top: 5rem;
}
.products h2 {
  margin-bottom: 1rem;
}
.products-content {
  margin-bottom: 2rem;
}
.products h3 {
  margin: 0.5rem 0;
}

.form {
  margin-top: 5rem;
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.outlets {
  margin-top: 5rem;
}

.footer {
  margin-top: 5rem;
  padding: 3rem 3rem 1rem 3rem;
}

.copyright {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top-color: rgb(27, 114, 245);
}

/*# sourceMappingURL=style.css.map */
