@use 'reset';
@use 'variables/global';

@font-face {
  font-family: 'Clash';
  src: url('../assets/fonts/ClashDisplay-Variable.ttf') format('truetype-variations');
  font-weight: 200 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Variable.ttf') format('truetype-variations');
  font-weight: 300 900;
  font-style: normal;
}

// Компоненты (кнопки, карточки, ссылки и тд)
.logo.brand {
  font-family: global.$font-family-main;
  font-size: 1.5rem;
  color: global.$color-primary;
}

.link-nav {
  font-size: 0.75rem;
  color: global.$color-primary;
  text-decoration: none;
  padding: 0 0.5rem;
}

.link-footer {
  font-size: 0.875rem;
  color: #fff;
  text-decoration: none;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  text-wrap: nowrap;
}

.btn-primary {
  color: #fff;
  background-color: global.$color-primary;
}

.btn-secondary {
  color: #fff;
  background-color: #4a4666;
}

.btn-tertiary {
  color: global.$color-primary;
  background-color: global.$color-gray;
}

.btn-white {
  color: global.$color-primary;
  background-color: #fff;
}

.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0.5rem 0 0;
}

.input-email {
  background-color: global.$color-gray;
  border: none;
  padding: 1rem 5rem 1rem 2rem;
  font-size: 1rem;
  color: #000;
}

.input-email-dark {
  background-color: rgba(255, 255, 255, 0.205);
  color: #fff;
}

.benefit-card {
  flex: 1;
  text-align: left;
}

.product-card {
  flex: 1;
  color: global.$color-primary;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-2px);
  }


}

.hero-content {
  flex: 3;
  max-width: 70%;

  h1 {
    max-width: 450px;
    margin-bottom: 2rem;
  }

  p {
    max-width: 600px;
    margin-top: 10rem;
  }
}

.img-hero {
  flex: 2.3;
  width: 30%;
  height: auto;
  object-fit: cover;     
}

.outlets-content {
  flex: 1;

  button {
    margin-top: 6rem;
  }
}

.img-outlets {
  flex: 1;
  width: 50%;
  height: auto;
}

// Глобальные стили
html {
  scroll-behavior: smooth;
}

body {
  font-family: global.$font-family-main;
}

.header {
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.nav {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.cart {
  margin-right: 1rem
}

.hero {
  padding-bottom: 3rem;
}

.benefits {
  margin-top: 2rem;

  h2 {
    margin-bottom: 2rem;
  }

  h3 {
    margin: 0.5rem 0;
  }
}

.products {
  margin-top: 5rem;

  h2 {
    margin-bottom: 1rem;
  }

  &-content {
    margin-bottom: 2rem;
  }

  h3 {
    margin: 0.5rem 0;
  }
}

.form {
  margin-top: 5rem;
  width: 100%;
  background-color: global.$color-gray;
}
.outlets {
  margin-top: 5rem;
}

.footer {
  margin-top: 5rem;
  padding: 3rem 3rem 1rem 3rem;
}

.copyright {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top-color: rgb(27, 114, 245); 
}