@use 'reset';
@use 'variables';
@use 'mixins';
@use 'base';
@use 'utilities';
@use 'components';
@use 'sections';
@use 'mobile';

// Fonts
@font-face {
  font-family: 'Clash';
  src: url('../assets/fonts/ClashDisplay-Variable.ttf') format('truetype-variations');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Variable.ttf') format('truetype-variations');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}